@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
}
nav{
    text-align: right;
    height: 100px;
}
#img{
    text-align: center;
}
.logo{
    width: 80px;
    border-radius: 50px;
}
iframe{
    width: 415px;
    height: 500px;
}