@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 98vw;
    height: 100vh;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 98vw;
    position: relative;
}
section#tela{
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#rede-social{
    text-align: right;
}
section#rede-social>a>img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}
section#rede-social>a>img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    transition: transform 0.1s;
}